#introBlog {
    background: $blue-color;
    padding: 60px 0;

    .main-text {
        h1 {
            color: $yellow-color;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}

#listPosts {
    padding: 60px 0;

    .block-color {
        background: $blue-color;
        padding: 20px;

        small {
            color: $yellow-color;
            text-transform: uppercase;
            letter-spacing: 5px;
        }

        h4 {
            color: #fff;
            text-transform: uppercase;
        }

        p {
            color: #fff;
        }
    }

    @media (min-width: 1024px) {
        .margin-mobile {
            margin-bottom: 50px;
        }
    }
}
